body {
  background: black;
}

.hidden {
  display: none;
}

header {
  display: flex;
  justify-content: center;
  color: white;
}

#SectName{
  color: white;
  display: flex;
  justify-content: center;
}

main {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 700px;
  width: 90%;
  max-width: 1280px;
  background-color: #b4faa2;
}

#score {
  width: 20%;
  border: 2px solid black;
}

#app-wrapper {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#app-screen {
  height: 600px;
  border: 2px solid black;
}

#app-controls {

  height: 100px;
  border: 2px solid black;
}

#game-log {
  width: 20%;
  border: 2px solid black;
}

#timer-scale {
  height: 25px;
  background: rgb(201, 199, 199);
  border: 2px solid black;
}

#full-scale {
  width: 70%;
  height: 25px;
  background: white;
}

#Timer{
  color: black;
  font-size: 24px;
}

#app-controls button { 
  cursor: pointer;
  font-size: 16px;
}

#app-controls {  
display:flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
}

ul{
  padding-bottom: 50px;
}

footer {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer p {
  color: white;
  padding: 5px;
  margin: 0;
}