.hidden {
  display: none;
}

header {
  margin: auto;
  text-align: center;
}

#SectName{
  color: white;
  display: flex;
  justify-content: center;
}

main {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  max-width: 1280px;

}

#stats-board {
  width: 20%;
  border: 2px solid black;
}

#app-wrapper {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#app-screen {
  border: 2px solid black;
  height: 370px;
}

#game-log {
  width: 20%;
  border: 2px solid black;
}

#timer-scale {
  height: 25px;
  background: black;
  border: 2px solid black;
  position: relative;
  color: white;
  padding: 15px 0 5px;
  text-align: center;
}

#app-controls {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#Timer{
  color: black;
  font-size: 24px;
}

#app-controls button { 
  cursor: pointer;
  font-size: 16px;
  margin: 2px 5px;
}

ul{
  padding-bottom: 50px;
}

footer {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer p {
  padding: 5px;
  margin: 0;
}

#game-canvas {
  display: block;
  margin: 20px auto;
}